/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EF233C;
}
header .logo {
  display: flex;
  margin-left: 0.25em;
  align-items: center;
}
header .logo .fa-bookmark {
  color: #2B2D42;
}
header .logo h1 {
  color: #2B2D42;
  font-size: 2rem;
  font-family: rubik mono one;
}
header .dropdown-menu {
  position: relative;
  margin-right: 0.25em;
}
header .dropdown-menu .dropdown-button {
  padding: 15px;
  border: 3px solid #2B2D42;
  color: #2B2D42;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: rubik mono one;
}
header .dropdown-menu .dropdown-button:hover {
  background-color: #EDF2F4;
  border: 3px solid #2B2D42;
  color: #EF233C;
}
header .dropdown-menu .dropdown-content {
  width: 100%;
  position: absolute;
  background-color: #EF233C;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #2B2D42;
}
header .dropdown-menu .dropdown-link {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 1.25rem;
  text-decoration: none;
  color: #EDF2F4;
}
header .dropdown-menu .dropdown-link:hover {
  color: #8D99AE;
}
header .dropdown-menu .hidden {
  display: none;
}
.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8D99AE;
}
.cta h2 {
  color: #2B2D42;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-family: rubik mono one;
  font-size: 2.5rem;
}
.cta .fa-laptop {
  margin-bottom: 0.25em;
}
.middle-image {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
