/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  font-size: 62.5%;
}
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EF233C;
}
header .logo {
  display: flex;
  margin-left: 0.25em;
  align-items: center;
}
header .logo .fa-bookmark {
  color: #2B2D42;
}
header .logo h1 {
  color: #2B2D42;
  font-size: 2rem;
  font-family: rubik mono one;
}
header .dropdown-menu {
  position: relative;
  margin-right: 0.25em;
}
header .dropdown-menu .dropdown-button {
  padding: 15px;
  border: 3px solid #2B2D42;
  color: #2B2D42;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: rubik mono one;
}
header .dropdown-menu .dropdown-button:hover {
  background-color: #EDF2F4;
  border: 3px solid #2B2D42;
  color: #EF233C;
}
header .dropdown-menu .dropdown-button:focus {
  outline: 0;
}
header .dropdown-menu .dropdown-content {
  width: 100%;
  position: absolute;
  background-color: #EF233C;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #2B2D42;
}
header .dropdown-menu .dropdown-link {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 1.25rem;
  text-decoration: none;
  color: #EDF2F4;
}
header .dropdown-menu .dropdown-link:hover {
  color: #8D99AE;
}
header .dropdown-menu .hidden {
  display: none;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    height: 150px;
  }
}
.cta {
  border-top: 3px solid #EDF2F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8D99AE;
}
.cta h2 {
  color: #2B2D42;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-family: rubik mono one;
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  .cta h2 {
    text-align: center;
  }
}
.cta .fa-laptop {
  margin-bottom: 0.25em;
  color: #2B2D42;
}
.cta button {
  font-family: rubik;
  font-size: 1.5rem;
  color: #2B2D42;
  background-color: #EDF2F4;
  border: 3px solid #2B2D42;
  padding: 5 15px;
  border-radius: 10px;
  margin-bottom: 0.5em;
  cursor: pointer;
}
.cta button:hover {
  color: #EF233C;
}
.cta button:focus {
  outline: 0;
}
.content {
  border-top: 3px solid #EF233C;
  background-color: #EDF2F4;
}
.content .content1 {
  display: flex;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
@media (max-width: 500px) {
  .content .content1 {
    flex-direction: column;
  }
}
.content .content1 .content1-info {
  margin-top: 1.5em;
}
.content .content1 .content1-info h2 {
  font-size: 1.75rem;
  color: #EF233C;
  margin-bottom: 0.25em;
  text-decoration: underline;
  font-family: rubik mono one;
}
@media (max-width: 500px) {
  .content .content1 .content1-info h2 {
    text-align: center;
  }
}
.content .content1 .content1-info p {
  color: #2B2D42;
  font-size: 1.1rem;
  font-family: rubik;
}
@media (max-width: 500px) {
  .content .content1 .content1-info p {
    text-align: center;
  }
}
.content .content1 .fa-desktop {
  color: #2B2D42;
  margin-top: 0.25em;
}
.content .content2 {
  display: flex;
  flex-direction: row-reverse;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
@media (max-width: 500px) {
  .content .content2 {
    flex-direction: column;
  }
}
.content .content2 .content2-info {
  margin-top: 1.5em;
}
.content .content2 .content2-info h2 {
  font-size: 1.75rem;
  color: #EF233C;
  margin-bottom: 0.25em;
  text-decoration: underline;
  font-family: rubik mono one;
  text-align: right;
}
@media (max-width: 500px) {
  .content .content2 .content2-info h2 {
    text-align: center;
  }
}
.content .content2 .content2-info p {
  color: #2B2D42;
  font-size: 1.1rem;
  font-family: rubik;
}
@media (max-width: 500px) {
  .content .content2 .content2-info p {
    text-align: center;
  }
}
.content .content2 .fa-clock-o {
  color: #2B2D42;
  margin-top: 0.4em;
  margin-right: 0.5em;
}
@media (max-width: 500px) {
  .content .content2 .fa-clock-o {
    margin-right: 0;
  }
}
.content .content3 {
  display: flex;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
@media (max-width: 500px) {
  .content .content3 {
    flex-direction: column;
  }
}
.content .content3 .content3-info {
  margin-top: 1.5em;
}
.content .content3 .content3-info h2 {
  font-size: 1.75rem;
  color: #EF233C;
  margin-bottom: 0.25em;
  text-decoration: underline;
  font-family: rubik mono one;
}
@media (max-width: 500px) {
  .content .content3 .content3-info h2 {
    text-align: center;
  }
}
.content .content3 .content3-info p {
  color: #2B2D42;
  font-size: 1.1rem;
  font-family: rubik;
}
@media (max-width: 500px) {
  .content .content3 .content3-info p {
    text-align: center;
  }
}
.content .content3 .fa-folder-open {
  color: #2B2D42;
  margin-top: 0.4em;
}
.content .content4 {
  display: flex;
  flex-direction: row-reverse;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
@media (max-width: 500px) {
  .content .content4 {
    flex-direction: column;
  }
}
.content .content4 .content4-info {
  margin-top: 1.5em;
  margin-bottom: 3em;
}
@media (max-width: 500px) {
  .content .content4 .content4-info {
    margin-bottom: 2.6em;
  }
}
.content .content4 .content4-info h2 {
  font-size: 1.75rem;
  color: #EF233C;
  margin-bottom: 0.25em;
  text-decoration: underline;
  font-family: rubik mono one;
  text-align: right;
}
@media (max-width: 500px) {
  .content .content4 .content4-info h2 {
    text-align: center;
  }
}
.content .content4 .content4-info p {
  color: #2B2D42;
  font-size: 1.1rem;
  font-family: rubik;
}
@media (max-width: 500px) {
  .content .content4 .content4-info p {
    text-align: center;
  }
}
.content .content4 .fa-book {
  color: #2B2D42;
  margin-top: 0.4em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
@media (max-width: 500px) {
  .content .content4 .fa-book {
    margin-right: 0;
    margin-top: 0;
  }
}
footer {
  padding: 15 0px;
  background-color: #EF233C;
  border-top: 3px solid #2B2D42;
}
footer p {
  text-align: center;
  color: #EDF2F4;
  font-family: rubik;
}
