.about {
    background-color: #8D99AE;
}
.meet {
    margin-top: .25em;
    margin-bottom: .5em;
    text-align: center;
    font-size: 4rem;
    font-family: rubik;
    font-weight: bold;
    color: @primary-color;
}

.meet-subtitle {
    text-align: center;
    font-family: rubik;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: .75em;
    color: @text-color;
}

.accordion {
    background-color: @text-color;
    color: @primary-color;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 2rem;
    font-family: rubik;
    display: block;
    margin: .5em auto 0 auto;

    &:hover {
        background-color: @primary-color;
        color: @text-color;
    }
}
.active {
    background-color: @primary-color;
    color: @text-color;
}

.panel {
    padding: 0 18px;
    background-color: @text-color;
    display: none;
    overflow: hidden;
    border: 2px solid @primary-color;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    img {
        padding-top: .5em;
        display: block;
        margin-right: auto;
        margin-left: auto;

        @media @phone {
            width: 90%;
        }
    }

    h2 {
        padding-top: .25em;
        padding-bottom: .25em;
        font-size: 1.5rem;
        font-family: rubik;
        font-weight: bold;
        color: @primary-color;
    }

    p {
        font-family: rubik;
        color: @primary-color;
    }

    .fa-github {
        color: @primary-color;
    }
}

.team {
    padding-bottom: 1em;
}