.cta {
    border-top: 3px solid @text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8D99AE;

    h2 {
        color: @primary-color;
        margin-top: 1.5em;
        margin-bottom: .5em;
        font-family: rubik mono one;
        font-size: 2.5rem;
    }

    .fa-laptop {
        margin-bottom: .25em;
        color: @primary-color;
    }

    button {
        font-family: rubik;
        font-size: 1.5rem;
        color: @primary-color;
        background-color: @text-color;
        border: 3px solid @primary-color;
        padding: 5 15px;
        border-radius: 10px;
        margin-bottom: .5em;
        cursor: pointer;

        &:hover {
            color: @highlight-color;
        }

        &:focus {
            outline: 0;
        }
    }
}

.content {
    border-top: 3px solid @highlight-color;
    background-color: @text-color;
    .content1 {
        display: flex;
        width: 85%;
        margin-right: auto;
        margin-left: auto;
        align-items: center;

        .content1-info {
            margin-top: 1.5em;
            h2 {
                font-size: 1.75rem;
                color: @highlight-color;
                margin-bottom:.25em;
                text-decoration: underline;
                font-family: rubik mono one;
            }

            p {
                color: @primary-color;
                font-size: 1.1rem;
                font-family: rubik;
            }
        }

        .fa-desktop {
            color: @primary-color;
            margin-top: .25em;
        }
    }

    .content2 {
        display: flex;
        flex-direction: row-reverse;
        width: 85%;
        margin-right: auto;
        margin-left: auto;
        align-items: center;

        .content2-info {
            margin-top: 1.5em;
            h2 {
                font-size: 1.75rem;
                color: @highlight-color;
                margin-bottom:.25em;
                text-decoration: underline;
                font-family: rubik mono one;
                text-align: right;
            }

            p {
                color: @primary-color;
                font-size: 1.1rem;
                font-family: rubik;
            }
        }

        .fa-clock-o {
            color: @primary-color;
            margin-top: .4em;
            margin-right: .5em;
        }
    }

    .content3 {
        display: flex;
        width: 85%;
        margin-right: auto;
        margin-left: auto;
        align-items: center;

        .content3-info {
            margin-top: 1.5em;
            h2 {
                font-size: 1.75rem;
                color: @highlight-color;
                margin-bottom:.25em;
                text-decoration: underline;
                font-family: rubik mono one;
            }

            p {
                color: @primary-color;
                font-size: 1.1rem;
                font-family: rubik;
            }
        }

        .fa-folder-open {
            color: @primary-color;
            margin-top: .4em;
        }
    }

    .content4 {
        display: flex;
        flex-direction: row-reverse;
        width: 85%;
        margin-right: auto;
        margin-left: auto;
        align-items: center;

        .content4-info {
            margin-top: 1.5em;
            margin-bottom: 3em;
            h2 {
                font-size: 1.75rem;
                color: @highlight-color;
                margin-bottom:.25em;
                text-decoration: underline;
                font-family: rubik mono one;
                text-align: right;
            }

            p {
                color: @primary-color;
                font-size: 1.1rem;
                font-family: rubik;
            }
        }

        .fa-book {
            color: @primary-color;
            margin-top: .4em;
            margin-right: .5em;
            margin-bottom: .5em;
        }
    }
}

footer {
    padding: 15 0px;
    background-color: @highlight-color;
    border-top: 3px solid @primary-color;

    p {
        text-align: center;
        color: @text-color;
        font-family: rubik;
    }
}