.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8D99AE;

    h2 {
        color: @primary-color;
        margin-top: 1.5em;
        margin-bottom: .5em;
        font-family: rubik mono one;
        font-size: 2.5rem;
    }

    .fa-laptop {
        margin-bottom: .25em;
    }
}







.middle-image {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}